.compteur {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 10rem;
}

.nombre {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.bouton {
    padding: .5rem;
}