.header {
    display: flex;
    flex-direction: column;
    background-color: #66e8ff;
}

.logo {
    width: 4rem;
    height: auto;
}

.titre {
    margin: 0;
    padding: 1rem;
}

@media(min-width: 40rem) {
    .header {
        flex-direction: row;
    }
}
