/* NX = not expanded */

.side_nav_container {
  background-color: #8445df;
  width: 200px;
  height: 100%;
  position: relative;
  color: #fff;
  position: fixed;
  transition: 0.4s;
}
.side-nav-container-NX {
  width: 85px;
}

.nav_upper,
.nav_heading,
.nav_menu,
.menu_item,
.nav_footer {
  /* border: 2px solid white; */
  display: grid;
}

.nav_heading {
  /* grid-template-columns: 2fr 1fr; */
  grid-template-rows: 1fr;
  height: 75px;
  background-color: #763dc8;
  text-align: center;
}

.nav_brand {
  /* display: flex;
  color: var(--light); */
  text-align: center;
}
.nav_brand img {
  width: 40px;
  padding: 0 10px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: var(--light);
  border-radius: 15px;
  height: 5px;
  width: 35px;

  transition: 0.4s;
}

.hamburger:hover span {
  background-color: var(--primary);
}

.hamburger_inside:hover span:nth-child(1) {
  width: 25px;
  transform: translateY(4px) rotate(-25deg);
}
.hamburger_inside:hover span:nth-child(2) {
  width: 40px;
}
.hamburger_inside:hover span:nth-child(3) {
  width: 25px;
  transform: translateY(-4px) rotate(25deg);
}
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburger_out {
  margin-left: 24px;
}
.hamburger_out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(14px, 4px) rotate(-155deg);
}
.hamburger_out:hover span:nth-child(2) {
  width: 40px;
}
.hamburger_out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(14px, -4px) rotate(155deg);
}

.nav_menu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 145px;
}

.menu_item {
  height: 57px;
  display: flex;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  /* margin: auto 20px; */
  border-radius: 10px;
  align-items: center;
}

.menu_item-NX {
  margin: auto;
}
.menu_item:hover {
  background-color: var(--primary);
}
.menu_item img {
  width: 30px;
  padding: 0 20px;
}
.btn {
  background-color: #8444df; /* Green */
  border: none;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-weight: 400;
}
