.titre {
    background-color: #cccccc;
    border: 1px solid #000;
    padding: .5rem;
    cursor: pointer;
}

.contenu {
    border: 1px solid #000;
    border-top: none;
    padding: .5rem;
}

.hidden {
    display: none;
}